body {
  background: #f2f1f1;
  color: #5E5E5E;
  text-align: center;
}

h1 {
  color: #000;
}

h1 span {
  color: #ffd300;
}

.modal {
  margin-top: 200px;
  background-color: #fff;
  box-shadow: 0 0 3px rgba(255, 0, 0, 0.15);
  display: inline-block;
  padding: 1em;
}

.modal > label {
  background-color: #ffd308;
  border: 1px solid #f0c600;
  border-radius: 0.2em;
  color: #800;
  display: inline-block;
  padding: 0.75em 1.5em;
}

.modal > label:hover {
  transform: scale(0.97);
}

.modal-overlay {
  background-color: #000008;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1000;
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.modal-wrap {
  padding: 1em 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  width: 90%;
  height: 300px;
  max-width: 500px;
  color: #fff;
}

.modal-wrap label {
  background: #FFD300;
  border-radius: 50%;
  line-height: 1.5;
  color: #000;
  display: inline-block;
  position: absolute;
  right: 0.5em;
  width: 1.5em;
}

.modal-wrap h2 {
  color: #FFD300;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.modal-wrap p {
  color: #FFD300;
  text-align: justify;
}

input {
  display: none;
}

input:checked ~ .modal-overlay {
  opacity: 1;
  transform: scale(1);
  z-index: 1000;
}
